@use '../variables/variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: $font-main;
  background-color: var(--bg-color);
  color: var(--text-color);

  transition:
    background-color $fade-duration $ease-soft,
    color $fade-duration $ease-soft;
}
