@use './variables/colors';
@use './variables/spacing';
@use './variables/typography';

@use './mixins/media';
@use './mixins/transitions';

@use './components/header';
@use './components/theme-toggle';
@use './components/bento-grid';


body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
main{
  display: block;
}